.db-logo{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    img {
        height: 3rem;
        width: 3rem;
    }
}
.menus {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;

    .menu-item {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
}

.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}