<div class="sidebar">
    <div class="db-logo">
        <img src="../../../../../../assets/ai.png" alt="logo">
    </div>
    <div class="menus">
        <div class="top-menus">
            <div class="menu-item">
                <mat-icon aria-hidden="false" fontIcon="dashboard"></mat-icon>
                <p>Dashboard</p>
            </div>
            <div class="menu-item">
                <mat-icon aria-hidden="false" fontIcon="build_circle"></mat-icon>
                <p>Tools</p>
            </div>
            <div class="menu-item">
                <mat-icon aria-hidden="false" fontIcon="groups"></mat-icon>
                <p>Users</p>
            </div>
        </div>
        <div class="bottom-menu">
            <div class="menu-item">
                <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
                <p>Logout</p>
            </div>
        </div>
    </div>
</div>