.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;

    .login-g {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        width: 50%;

        img {
            max-width: 50%;
        }

        .signin-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;


            img {
                height: 15px;
                width: 15px;
            }
        }
        button {
            width: 50%;
            padding: 0.75rem;
            background-color: #fff;
            border-radius: 20px;
            border: 2px solid #e7e7e9;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 50%;

            button {
                background-color: #282727;
                color: white;
                align-self: center;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

}

@media screen and (max-width:600px) {
    .login-container { 
        margin-top: 10%;
        .login-g {
            width: 90%;
            img {
                max-width: 90%;
            }
            form, button {
                width: 90%;
            }
            
        }
    }
}