<div class="dialog-tile">
    <h5>Create tool</h5>
</div>
<div mat-dialog-content class="dialog-content">
    <form action="">
      <mat-form-field class="form-field">
        <mat-label>Tool Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Company Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>URL</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Status</mat-label>
        <select matNativeControl required>
          <option value="active">Active</option>
          <option value="isabled">Disabled</option>
        </select>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button >No Thanks</button>
  <button mat-button>Ok</button>
</div>