<div class="dialog-tile">
  <h5>Create tool</h5>
  <mat-icon class="pointer" (click)="closeDialog()">close</mat-icon>
</div>
<form [formGroup]="toolForm" (ngSubmit)="saveTool()">
  <div mat-dialog-content class="dialog-content">

    <mat-form-field class="form-field">
      <mat-label>Tool Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Company Name</mat-label>
      <input matInput type="text" formControlName="companyName">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="url">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Status</mat-label>
      <select matNativeControl required formControlName="status">
        <option value="active">Active</option>
        <option value="isabled">Disabled</option>
      </select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Catergory</mat-label>
      <mat-chip-grid #categoryChipList>
        <mat-chip-row *ngFor="let catergory of categoriesAdded" (removed)="removeCategory(catergory.id)">
          {{catergory.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
      </mat-chip-grid>
      <input #categoryInput placeholder="Select categories" [matAutocomplete]="auto"
        [matChipInputFor]="categoryChipList">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addCatergories($event)">
        <mat-option *ngFor="let catergory of categories" [value]="catergory">
          {{catergory.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <input type="file" #fileInput style="display: none;" (change)="imageSelected($event)">
      <button (click)="fileInput.click()" mat-raised-button color="primary">Upload Image</button>
    </div>
    <div *ngIf="selectedImage" class="selected-image">
      <img [src]="selectedImageUrl" alt="Selected image">
      <mat-icon (click)="clearImage()">cancel</mat-icon>
    </div>

  </div>
  <div mat-dialog-actions class="dialog-action">
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>