.grid-table {
    width: 95%;
    height: 84%;
    padding: 1rem;
}

  .ag-theme-alpine-dark {
    --ag-background-color: #011627;
    --ag-foreground-color: #fff;
    --ag-border-color: #68686e;
    --ag-secondary-border-color: rgba(88, 86, 82, 0.5);
    --ag-modal-overlay-background-color: rgba(24, 29, 31, 0.66);
    --ag-header-background-color: #022440;
    --ag-tooltip-background-color: #022440;
    --ag-odd-row-background-color: #022440;
    --ag-control-panel-background-color: #022440;
    --ag-subheader-background-color: #000;
    --ag-input-disabled-background-color: #282c2f;
    --ag-input-focus-box-shadow:
        0 0 2px 0.5px rgba(255, 255, 255, 0.5),
        0 0 4px 3px var(--ag-input-focus-border-color);
    --ag-card-shadow: 0 1px 20px 1px black;
    --ag-disabled-foreground-color: rgba(255, 255, 255, 0.5);
    --ag-chip-background-color: rgba(255, 255, 255, 0.07);
    --ag-input-disabled-border-color: rgba(104, 104, 110, 0.3);
    --ag-input-disabled-background-color: rgba(104, 104, 110, 0.07);
  }

@media screen and (max-width:600px) {
    .grid-table{
      width: auto;
      margin: 10px;
      padding: 0;
    }
}