@use '@angular/material' as mat;

@include mat.core();
    $dark-primary: mat.define-palette(mat.$blue-grey-palette);
  $dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
  $dark-warn: mat.define-palette(mat.$deep-orange-palette);
  $dark-colors: mat.define-dark-theme(
      (
        color: (
          primary: $dark-primary,
          accent: $dark-accent,
          warn: $dark-warn
        ),
        density: 0,
        typography: mat.define-typography-config(),
      )
  );

  // Include the dark theme color styles.
  @include mat.all-component-colors($dark-colors);