.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    .signup,.signup-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        
        img {
            max-width: 50%;
        }

        button {
            width: 50%;
            padding: 0.75rem;
            background-color: #fff;
            border-radius: 20px;
            border: 2px solid #e7e7e9;
        }

        .signup-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: white;
            background-color: black;

            img {
                height: 15px;
                width: 15px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        .img-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .back-icon {
                align-self: flex-start;
            }
        }
    }

}

@media screen and (max-width:600px) {
    .signup-container { 
        margin-top: 10%;
        .signup,.signup-form {
            width: 90%;
            img {
                max-width: 90%;
            }
            form, button {
                width: 90%;
            }
            
        }
    }
}